body {
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited {
    margin: auto;
    text-decoration: none;
    color: unset;
}
.upside {
    margin: auto;
    background-color: #c4c4c4;
}
.upside li {
    margin-top: 20px; margin-bottom: 20px; margin-left: 30px;
    display: inline-block;
    border-radius: 5px;
}
.button-s {
        background-color: black;
        color: white;
        display: inline-block;
        border-radius: 5px;
}
.button-ns {
    background-color: white;
    display: inline-block;
    border-radius: 5px;

}
.upside a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}
.upside li :hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}
#login {
    margin-left: 535px;
    background-color: transparent;
    font-weight: normal;
}
#login:hover {
    background-color: #c4c4c4;
}
.button-black {
    color: white;
    background-color: black;
}
.text-box1 {
    border-radius: 5px;
    width: 90%;
    margin: auto;
    background-color: #c4c4c4;
    padding-bottom: 20px;
}
.text-box1 h3 {
    font-weight: normal; font-size: 20px;
    text-align: center; text-decoration: none;
    padding-top: 10px;
}
.text-box1 hr {
    margin-left: 35px; margin-right: 35px; margin-bottom: 35px;
}
.text-box1 p {
    width: 90%;
    padding-left: 35px;
    text-indent: 10px;
}
.view-more:hover {
    color: white;
}
.button-text {
    display: inline-block;
    padding: 10px 20px;
}
.button-ns:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}
#login:hover {
    background-color: #c4c4c4;
    color: white;
}
.dns {
    border-radius: 5px;
    width: 90%;
    margin: auto;
    background-color: #c4c4c4;
    padding-bottom: 10px;
}
.dominio {
    border-radius: 5px;
    width: 90%;
    margin: auto;
    background-color: #c4c4c4;
    padding-bottom: 10px;
}
.protocolo {
    border-radius: 5px;
    width: 90%;
    margin: auto;
    background-color: #c4c4c4;
    padding-bottom: 10px;
}
.text-boxies h2 {
    font-weight: normal; font-size: 20px;
    text-align: left; text-decoration: none;
    margin: 20px;
    padding-left: 15px; padding-top: 20px;
}
.text-boxies hr {
    margin-left: 35px; margin-right: 35px; margin-bottom: 20px;
}
.text-boxies p {
    padding-left: 35px; padding-right: 35px;
    border-radius: 5px;
    background-color: #c4c4c4;
    margin: auto;
    padding-bottom: 10px;
}
.text-boxies p a {
    text-decoration: underline;
}