.text-boxies {
    width: 50%; 
    border-radius: 5px;
    background-color: #c4c4c4;
    margin: auto;
    padding-bottom: 20px;
}
.text-boxies h1 {
    padding-top: 20px;
    text-align: center;
}
.text-boxies label {
    padding-top: 8px;
}
.text-boxies input {
    padding: 10px;
    float: right;
    margin-right: 190px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}
.text-boxies input[type=submit] {
    margin-right: 300px;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
}
#sign {
    margin-right: 277px;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
}
input[type=submit]:hover {
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
#username, #senha, #e-mail, #confirm {
    display: inline-block;
    font-size: 18px;
}
#username {
    padding-left: 198px;  padding-bottom: 20px;
}
#senha {
    padding-left: 230px;  padding-bottom: 20px;
}
#e-mail{
    padding-left: 230px;  padding-bottom: 20px;
}
#confirm {
    padding-left: 120px; padding-bottom: 25px;
}
.forgot, .sign-up {
    text-decoration: underline;
}
.forgot {
    padding-top: 60px;
}
.forgot, .no-account {
    text-align: center;
}
.forgot :hover, .no-account :hover {
    color: white;
}
.text-forgot {
    text-align: center;
    margin: 40px;
}