.text-boxies {
    width: 50%; 
    border-radius: 5px;
    background-color: #c4c4c4;
    margin: auto;
    padding-bottom: 20px;
}
.text-boxies h1 {
    padding-top: 20px;
    text-align: center;
}
.text-boxies input {
    padding: 5px;
    float: right;
    margin-right: 190px ;
}
#username, #senha {
    padding-left: 190px;  padding-bottom: 20px;
    display: inline-block;
    font-size: 20px;
}
.forgot, .sign-up {
    text-decoration: underline;
}
.forgot, .no-account {
    text-align: center;
}
.forgot :hover, .no-account :hover {
    color: white;
}